


* {
    box-sizing: border-box;
}
.row1 {
    display: flex;
    height: 1%;
    width: 100%;
  
}

.logo {
    height: 100%;
    width: 100%;
    color: pink;
    
    
 

}
div.logo>img {
    height: 100%;
    width: 20%


}

.accountlinks {
    
    flex-direction: row;
    
    text-align: right;

    width: 100%;
    
    float: right;
    display: flex;
    font-size:20px;
    justify-content: flex-end;

        
}
.al {
    
    display: flex;
   
    margin: 0px 5px;

}

.row2 {
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
}

.navlinks {
    display: flex;
    margin-right: 0px;
    flex-direction: row;
   
  

}

.nl {
    margin-right: 5px;
    font-size: 15px;
    
}

.row3 {

    width: 100%;
    display: flex;
    border: 1px solid lightgray;
    justify-content: space-evenly;
    
}

.input {
    font-size: 15px;
    border-right:1px solid lightgray;
    
}


.row4 {
    margin-top: 60px;
    width: 40%;
    font-size: 40px;
}

.row5 {
    width: 100%;
    display: flex;
    

.pic {
    width: 25%;
    
}